# Environment variables for local development
# Generate a new value with: python - <<'PY'
# import secrets
# print(secrets.token_urlsafe(48))
# PY
JWT_SECRET_KEY=PbWqSM8EjTSIHEcy6PrmtyuO9T-NS4h5clx3S9PeqFvTAYFs46Z9jrVK3o-fk8KB
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
